@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


@font-face {
	font-family: 'Montserrat', sans-serif !important;
	src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  }

.menu {
  font-family: 'Montserrat', sans-serif !important;
  min-width: 400px;
  max-width: 380px;
  color: #fff;
  position: absolute;
}
.menu {
	background-color: rgba(0,0,0,0.7);
	font-family: Verdana;
	min-width: 400px;
	color: #fff;
	position: absolute;
	box-shadow: 0 0 1em #ff00b3;
	border-radius:10px;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-toppe {
	animation: slide-toppe 0.5s;
}

@keyframes slide-toppe {
	0% {
		opacity: 0.0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1.0;
		transform: translateY(0px);
	}
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.menu .categorie {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 25px;
  height: 33px;
  line-height: 35px;
  padding: 0 10px;
  color: white;
  text-align: left;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.9));
	/* box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.45999999999999996); */
  background-size: 400% 400%;

  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  text-transform: uppercase;

  font-size: 18px;
  font-weight: 700;

  padding: 0 10px;
  position: left;
  top: 0px;
}

.menu.align-left {
  left: 30;
  top: 30%;
}

.menu.align-top-left {
  left: 30;
  top: 30%;
}

.menu.align-top {
  left: 30;
  top: 30%;
}

.menu.align-top-right {
  left: 30;
  top: 30%;
}

.menu.align-right {
  left: 30;
  top: 30%;
}

.menu.align-bottom-right {
  left: 30;
  top: 30%;
}

.menu.align-bottom {
  left: 30;
  top: 30%;
}

.menu.align-bottom-left {
  left: 30;
  top: 30%;
}

.menu.align-center {
  left: 30;
  top: 30%;
}

.menu .head {
  font-family: 'Montserrat', sans-serif !important;;
  font-size: 59px;

  /* background: linear-gradient(to left bottom, #3A539B, #1F3A93); */
  background-image: url(https://imgur.com/vPlIyLW);
  text-align: center;
  border-radius: 10px 10px 0px 0px;
	/* box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.45999999999999996); */
  height: 90px;
  line-height: 105px;
  color: white;
  font-style: oblique;
}

.menu .menu-items {
  max-height: 350px;
  border-radius: 0px 0px 10px 10px;
	/* box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.45999999999999996); */
  overflow-y: hidden;
  text-align: center;
    background: rgb(35, 35, 35, 0.94);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.menu .menu-items .menu-item {
  display: block;
  font-size: 18px;
  height: auto;
  line-height: 35px;
  color: white;
  text-align: center;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.menu .menu-items .menu-item.selected {
  background: #00ffdd;
  background: linear-gradient(90deg, #00ffdd 0%, #00ffdd 100%);
  text-align: center;
  padding: 0 30px;
  animation: testo 0.3s both;
  color: rgb(255, 255, 255);
}

@keyframes testo {
  0%{
    font-size: 17px; padding: 0 10px;
  }
  50%{
    font-size: 22px; 
    padding: 0 30px;
  }
  100%{
    font-size: 20px; 
    padding: 0 20px;
  }
}